@charset "UTF-8";

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #5a5a5a;
    margin: px;
   }

article{
    background-color: #ffffff;
    padding: 5px;
    border-radius: 5px;
}

article > aside {
    
    background-color: #F2F0F0;
}

header{
    
    background-color: #220f0d;
    text-align:center;
    padding: 10px;
    margin: 10px;
    color: white;
    border-radius: 5px;
    
}

nav{
    background-color: #261A1A;
    padding: 3px;
    margin: 0px;
}

nav > a{
       color: white;
       text-decoration: none;
       font: bold;
       margin-right: 30px;

}

nav > a:hover {

text-decoration: underline;


}

footer {
    background-color: rgba(0, 0, 255, 0.377);
    padding: 10px;
    margin: 10px;
}

footer{

    background-color: rgb(3, 2, 2);
    color: aliceblue;
    text-align: center;
    padding: 1px;
    margin: 0px;
    }

   section{

    padding: 1px;
    margin: 10px;
   }

   section > p {

    font-style: italic;
    font-size: large;
    font-weight: bold;
   }